@import url(/vendor/normalize.css);
@import url(/root/root.css);

@import url(/blocks/pages/pages.css);

/* header section */
@import url(/blocks/header/header.css);
@import url(/blocks/header/__image/header__image.css);
@import url(/blocks/logo/logo.css);
@import url(/blocks/lead/lead.css);
@import url(/blocks/lead/__title/lead__title.css);
@import url(/blocks/lead/__subtitle/lead__subtitle.css);

/* intro section */
@import url(/blocks/intro/intro.css);
@import url(/blocks/intro/__title/intro__title.css);
@import url(/blocks/intro/__quote/intro__quote.css);
@import url(/blocks/intro/__quote-author/intro__quote-author.css);
@import url(/blocks/intro/__text/intro__text.css);

/* photogrid section */
@import url(/blocks/photogrid/photogrid.css);
@import url(/blocks/photogrid/__item/photogrid__item.css);
@import url(/blocks/photogrid/__image/photogrid__image.css);

/* places section */
@import url(/blocks/places/places.css);
@import url(/blocks/place/place.css);
@import url(/blocks/place/__title/place__title.css);
@import url(/blocks/place/__website/place__website.css);
@import url(/blocks/place/__url-heading/places__url-heading.css);
@import url(/blocks/place/__artist/place__artist.css);
@import url(/blocks/place/__image/place__image.css);
@import url(/blocks/place/__paragraph/place__paragraph.css);
@import url(/blocks/place/__link/place__link.css);
@import url(/blocks/place/__button/place__button.css);

/* footer section */
@import url(/blocks/footer/footer.css);
@import url(/blocks/footer/__image/footer__image.css);
@import url(/blocks/footer/__text-container/footer__text-containter.css);
@import url(/blocks/footer/__title/footer__title.css);
@import url(/blocks/footer/__subtitle/footer__subtitle.css);
@import url(/blocks/footer/__button/footer__button.css);
