.places {
  margin: 92px 0 12px;
}
@media screen and (max-width: 1024px) {
  .places {
    margin: 88px 0 12px;
  }
}
@media screen and (max-width: 600px) {
  .places {
    margin: 62px 0 12px;
  }
}
