.lead {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 90px 0 64px;
  color: #fff;
}
@media screen and (max-width: 1024px) {
  .lead {
    margin: 90px 0 36px;
  }
}
@media screen and (max-width: 600px) {
  .lead {
    margin: 50px 0 52px;
  }
}
