.footer__subtitle {
  max-width: 280px;
  font-size: 18px;
  line-height: 1.22;
  margin-bottom: 32px;
}
@media screen and (max-width: 600px) {
  .footer__subtitle {
    font-size: 14px;
    line-height: 1.14;
    margin-bottom: 16px;
  }
}
