.footer__credits {
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  margin: 92px 0 26px;
  color: #fff;
}
@media screen and (max-width: 600px) {
  .footer__credits {
    line-height: 1;
  }
}
