@import url(../fonts/Inter-Web/inter.css);

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
img,
nav,
ul,
li,
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-weight: normal;
  font-family: "Inter", sans-serif;
}
