.photogrid {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 16px;
  padding: 66px 48px 0;
}
@media screen and (max-width: 1024px) {
  .photogrid {
    grid-template-columns: repeat(2, 1fr);
    padding: 38px 24px 0;
  }
}
@media screen and (max-width: 600px) {
  .photogrid {
    grid-template-columns: 1fr;
    padding: 48px 16px 0;
  }
}
