.photogrid {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 16px;
  margin: 0 -148px;
  padding: 66px 48px 0;
}
@media screen and (max-width: 1024px) {
  .photogrid {
    grid-template-columns: repeat(2, 1fr);
    margin: 0;
    padding: 38px 0;
  }
}
@media screen and (max-width: 600px) {
  .photogrid {
    grid-template-columns: 1fr;
    margin: 0;
    padding: 48px 0;
  }
}
